<h1>一覧</h1>
<ul>
  <% @task.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %></li>
    
   <% @task.each do |tasks| %>
     <li><%= link_to task.id, task %> : <li><%= task.status %></li>
  
</ul>
  <% end %>

<%= link_to '新規の投稿', new_task_path %>